<body class='h-screen'>
  <section class='relative h-screen w-full bg-cover bg-center' style="background-image: url(<%= asset_path('AdobeStock_570892147.jpeg') %>);">
    <div class='absolute inset-0 flex items-center justify-center'>
      <h1 class='text-white text-2xl md:text-6xl lg:text-6xl'>Welcome to Lingua Franca!!!</h1>
    </div>
  </section>
</body>

